<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatNow</title>
</head>
<body>
    <div class="Header"> 
        <h1>EatNow</h1>
        <button>Sign In</button>
        <button>Sign Up</button>
    </div>
    <div class="body">
        <h2>Choose you location</h2>
        <select>
            <option>641107</option>
            <option>641108</option>
            <option>641109</option>
        </select>
        <br><br>
        <button>Enter</button>
    </div>
</body>
</html>