<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatNow</title>
    <link rel="stylesheet" href="P:\Python_Project\Eatnow\Eatnow\Style\home.css">

</head>
<body>
    <h1>Eatnow</h1>
    <div class="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="#">Add to Cart</a></li>
            <li><a href="Profile.html">Profile</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
</body>
</html>