<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="P:\Python_Project\Eatnow\Eatnow\Style\login.css">
</head>
<body>
    <div class="Header"> 
        <h1>EatNow</h1>
        <div class="log_button">
        <a href="Register.html" ><button>Register</button> </a> 
        </div>
    </div><br><br>
    <div class="main">

    <h3>Login</h3>
    <form action="Home.html">
        <input  type="text" placeholder="First Name"><br><br>
        <input type="password" placeholder="Password"><br><br>
        <input type="Submit" value="Login">
    </form>
    <a href="#">Forgot Password</a>
    </div>
</body>
</html>