<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="P:\Python_Project\Eatnow\Eatnow\Style\login.css">
</head>
<body>
    <div class="Header"> 
        <h1>EatNow</h1>
        <div class="log_button">
            <a href="login.html" ><button>Login</button> </a> 
            </div>         
    </div>
    <br><br>
    <div class="main">

    <h3>Registration</h3>
    <form action="login.html">
        <input  type="text" placeholder="First Name"><br><br>
        <input type="email" placeholder="abc123@gmail.com"><br><br>
        <input type="tel" placeholder="Phone Number"><br><br>
        <input type="password" placeholder="Password"><br><br>
        <input type="password" placeholder="Retype Password"><br><br>
        <input type="submit">
    </form>
    </div>
</body>
</html>